.pagination{
    text-align: center;
}

.pagButton, .current{ 
    margin: 0 10px;
    border: 1px solid rgb(230, 219, 219);
    color: rgb(230, 219, 219);
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}

.pagButton:hover, .current:hover{
    cursor: pointer;
}

.current{
    color: red;
    border: 1px solid red;
}

button:disabled{
  border: 1px solid #999999;
  color: #999999;
}

@media (max-width: 768px) {
    .pagButton, .current{ 
        margin: 0 5px;
        padding: 5px;
        font-weight: bold;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .pagButton, .current{ 
        margin: 0 2px;
        padding: 5px;
        font-weight: bold;
        font-size: 10px;
    }
}

@media (max-width: 370px) {
    .pagButton, .current{ 
        margin: 0 3px;
        padding: 4px;
        font-weight: bold;
        font-size: 7px;
    }
}