*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira sans', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #374151;
  color: #EEE;
}

input, button{
  appearance: none;
  border: none;
  outline: none;
  background: none;
}